#titlez {
    position: relative;
    font-size: 5.7vw;
    padding-left: 2vw;
    top: -1vw;
    float: left;
}

.headerbox {
    position: relative;
    float: right;
    background-color: #f0f1f3;
    -webkit-border-radius: 0 0 0 1vw;
    border-radius: 0 0 0 1vw;
    width: 59.1vw;
    height: 5.8vw;
    top: -.4vw;
    right: -.4vw;
}

#navcontainer {
    position: relative;
    width: 100%;
    height: 100%;
    list-style-type: none;
}

#navcontainer li {
    position:relative;
    display: inline-block;
    font-family: "Calibri", sans-serif;
    color: #959595;
    font-size: 2vw;
    height: 100%;
    text-align: justify;
    vertical-align: middle;
}