
#titlez {
    text-align: center;
    font-family: "Calibri", sans-serif;
    color: #87a8c6;
    font-weight: bold;
    font-size: 7vw;
    padding-top: .2vh;
    padding-bottom: 5vh;
}

.loginbox {
    position: relative;
    background-color: #f0f1f3;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    width: 47vw;
    height: 28vw;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-shadow: 0px 0px 16px #7aaaca;
}

.dottedline {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 95%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border: dashed 1px #bababa;
}

#logintype{
    text-align: center;
    font-family: "Calibri", sans-serif;
    color: #959595;
    font-weight: bold;
    font-size: 2.5vw;
}

input {
    border: solid 2px #cecfd1;
    border-radius: 4px;
    background-color: #fefefe;
    width: 25vw;
    height: 2.5vw;
    padding-left: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: .8em;
}

input:focus {
    outline: none;
}